In [1]:
#Importando librerias basicas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Extrallendo dataset
data = pd.read_csv("datasets/200610COVID19MEXICO.csv")

In [3]:
data.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [4]:
data[["DIABETES", "FECHA_DEF"]].head(10)

   DIABETES   FECHA_DEF
0         1  9999-99-99
1         2  9999-99-99
2         2  9999-99-99
3         2  9999-99-99
4         2  9999-99-99
5         2  9999-99-99
6         2  9999-99-99
7         1  9999-99-99
8         2  9999-99-99
9         2  9999-99-99

1 -> Si

2 -> No

In [5]:
data["DIABETES"] = np.where(data["DIABETES"] == 1, "SI", data["DIABETES"])

In [6]:
data["DIABETES"] = np.where(data["DIABETES"] == 2, "NO", data["DIABETES"])

In [7]:
data["DIABETES"] = np.where(data["DIABETES"] == "2", "NO", data["DIABETES"])

In [8]:
data = data[["SEXO","TIPO_PACIENTE","FECHA_SINTOMAS", "FECHA_INGRESO", "FECHA_DEF", "INTUBADO", "EDAD","RESULTADO", "DIABETES" ]]

In [9]:
data = data[data["DIABETES"]== "SI"]

In [10]:
data

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,2,1,2020-05-25,2020-05-27,9999-99-99,97,53,1,SI
7,1,2,2020-04-03,2020-04-03,9999-99-99,2,41,1,SI
11,1,2,2020-04-15,2020-04-15,2020-05-06,2,62,1,SI
14,2,2,2020-06-01,2020-06-06,9999-99-99,2,56,1,SI
15,2,2,2020-04-04,2020-04-04,2020-04-13,2,61,1,SI
...,...,...,...,...,...,...,...,...,...
369328,2,2,2020-05-15,2020-05-21,9999-99-99,2,62,3,SI
369339,1,2,2020-06-05,2020-06-07,9999-99-99,2,50,3,SI
369352,1,1,2020-05-17,2020-05-18,9999-99-99,97,44,3,SI
369353,2,1,2020-05-21,2020-05-23,9999-99-99,97,46,3,SI
369358,2,2,2020-04-19,2020-04-20,9999-99-99,2,96,3,SI

In [11]:
data["SEXO"] = np.where(data["SEXO"] == 1, "MUJER", data["SEXO"])
data["SEXO"] = np.where(data["SEXO"] == 2, "HOMBRE", data["SEXO"])

In [13]:
data["SEXO"] = np.where(data["SEXO"] == "1", "MUJER", data["SEXO"])
data["SEXO"] = np.where(data["SEXO"] == "2", "HOMBRE", data["SEXO"])

In [14]:
data

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,HOMBRE,1,2020-05-25,2020-05-27,9999-99-99,97,53,1,SI
7,MUJER,2,2020-04-03,2020-04-03,9999-99-99,2,41,1,SI
11,MUJER,2,2020-04-15,2020-04-15,2020-05-06,2,62,1,SI
14,HOMBRE,2,2020-06-01,2020-06-06,9999-99-99,2,56,1,SI
15,HOMBRE,2,2020-04-04,2020-04-04,2020-04-13,2,61,1,SI
...,...,...,...,...,...,...,...,...,...
369328,HOMBRE,2,2020-05-15,2020-05-21,9999-99-99,2,62,3,SI
369339,MUJER,2,2020-06-05,2020-06-07,9999-99-99,2,50,3,SI
369352,MUJER,1,2020-05-17,2020-05-18,9999-99-99,97,44,3,SI
369353,HOMBRE,1,2020-05-21,2020-05-23,9999-99-99,97,46,3,SI
369358,HOMBRE,2,2020-04-19,2020-04-20,9999-99-99,2,96,3,SI