In [67]:
#Importando librerias basicas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [68]:
#Extrallendo dataset
data = pd.read_csv("datasets/200610COVID19MEXICO.csv")

In [69]:
data.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [70]:
data[["DIABETES", "FECHA_DEF"]].head(10)

   DIABETES   FECHA_DEF
0         1  9999-99-99
1         2  9999-99-99
2         2  9999-99-99
3         2  9999-99-99
4         2  9999-99-99
5         2  9999-99-99
6         2  9999-99-99
7         1  9999-99-99
8         2  9999-99-99
9         2  9999-99-99

1 -> Si

2 -> No

In [71]:
data["DIABETES"] = np.where(data["DIABETES"] == 1, "SI", data["DIABETES"])

In [72]:
data["DIABETES"] = np.where(data["DIABETES"] == 2, "NO", data["DIABETES"])

In [73]:
data["DIABETES"] = np.where(data["DIABETES"] == "2", "NO", data["DIABETES"])

In [74]:
data = data[["SEXO","TIPO_PACIENTE","FECHA_SINTOMAS", "FECHA_INGRESO", "FECHA_DEF", "INTUBADO", "EDAD","RESULTADO", "DIABETES" ]]

In [75]:
data = data[data["DIABETES"]== "SI"]

In [76]:
data

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,2,1,2020-05-25,2020-05-27,9999-99-99,97,53,1,SI
7,1,2,2020-04-03,2020-04-03,9999-99-99,2,41,1,SI
11,1,2,2020-04-15,2020-04-15,2020-05-06,2,62,1,SI
14,2,2,2020-06-01,2020-06-06,9999-99-99,2,56,1,SI
15,2,2,2020-04-04,2020-04-04,2020-04-13,2,61,1,SI
...,...,...,...,...,...,...,...,...,...
369328,2,2,2020-05-15,2020-05-21,9999-99-99,2,62,3,SI
369339,1,2,2020-06-05,2020-06-07,9999-99-99,2,50,3,SI
369352,1,1,2020-05-17,2020-05-18,9999-99-99,97,44,3,SI
369353,2,1,2020-05-21,2020-05-23,9999-99-99,97,46,3,SI
369358,2,2,2020-04-19,2020-04-20,9999-99-99,2,96,3,SI

In [77]:
data["SEXO"] = np.where(data["SEXO"] == 1, "MUJER", data["SEXO"])
data["SEXO"] = np.where(data["SEXO"] == 2, "HOMBRE", data["SEXO"])

In [78]:
data["SEXO"] = np.where(data["SEXO"] == "1", "MUJER", data["SEXO"])
data["SEXO"] = np.where(data["SEXO"] == "2", "HOMBRE", data["SEXO"])

In [79]:
data

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,HOMBRE,1,2020-05-25,2020-05-27,9999-99-99,97,53,1,SI
7,MUJER,2,2020-04-03,2020-04-03,9999-99-99,2,41,1,SI
11,MUJER,2,2020-04-15,2020-04-15,2020-05-06,2,62,1,SI
14,HOMBRE,2,2020-06-01,2020-06-06,9999-99-99,2,56,1,SI
15,HOMBRE,2,2020-04-04,2020-04-04,2020-04-13,2,61,1,SI
...,...,...,...,...,...,...,...,...,...
369328,HOMBRE,2,2020-05-15,2020-05-21,9999-99-99,2,62,3,SI
369339,MUJER,2,2020-06-05,2020-06-07,9999-99-99,2,50,3,SI
369352,MUJER,1,2020-05-17,2020-05-18,9999-99-99,97,44,3,SI
369353,HOMBRE,1,2020-05-21,2020-05-23,9999-99-99,97,46,3,SI
369358,HOMBRE,2,2020-04-19,2020-04-20,9999-99-99,2,96,3,SI

In [80]:
data["FECHA_DEF"].value_counts()

9999-99-99    38522
2020-05-25      206
2020-05-30      191
2020-05-18      191
2020-05-27      182
              ...
2020-02-26        1
2020-03-23        1
2020-03-06        1
2020-02-25        1
2020-03-17        1
Name: FECHA_DEF, Length: 93, dtype: int64

In [81]:
data["FECHA_DEF"].min()

'2020-02-20'

In [82]:
data["FECHA_DEF"].max()

'9999-99-99'

In [83]:
data["FECHA_DEF"] = np.where(data["FECHA_DEF"] == "9999-99-99", "NAN", data["FECHA_DEF"])

In [84]:
data

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,HOMBRE,1,2020-05-25,2020-05-27,NAN,97,53,1,SI
7,MUJER,2,2020-04-03,2020-04-03,NAN,2,41,1,SI
11,MUJER,2,2020-04-15,2020-04-15,2020-05-06,2,62,1,SI
14,HOMBRE,2,2020-06-01,2020-06-06,NAN,2,56,1,SI
15,HOMBRE,2,2020-04-04,2020-04-04,2020-04-13,2,61,1,SI
...,...,...,...,...,...,...,...,...,...
369328,HOMBRE,2,2020-05-15,2020-05-21,NAN,2,62,3,SI
369339,MUJER,2,2020-06-05,2020-06-07,NAN,2,50,3,SI
369352,MUJER,1,2020-05-17,2020-05-18,NAN,97,44,3,SI
369353,HOMBRE,1,2020-05-21,2020-05-23,NAN,97,46,3,SI
369358,HOMBRE,2,2020-04-19,2020-04-20,NAN,2,96,3,SI

In [85]:
data["RESULTADO"] = np.where(data["RESULTADO"] == "2", "Descartado", data["RESULTADO"])
data["RESULTADO"] = np.where(data["RESULTADO"] == "3", "Sospechoso", data["RESULTADO"])

In [86]:
data["RESULTADO"] = np.where(data["RESULTADO"] == 1, "Confirmado", data["RESULTADO"])
data["RESULTADO"] = np.where(data["RESULTADO"] == "1", "Confirmado", data["RESULTADO"])

In [87]:
data["RESULTADO"].unique()

array(['Confirmado', '2', 'Sospechoso'], dtype=object)

In [88]:
data["FECHA_DEF"].min()

'2020-02-20'

In [89]:
data

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,HOMBRE,1,2020-05-25,2020-05-27,NAN,97,53,Confirmado,SI
7,MUJER,2,2020-04-03,2020-04-03,NAN,2,41,Confirmado,SI
11,MUJER,2,2020-04-15,2020-04-15,2020-05-06,2,62,Confirmado,SI
14,HOMBRE,2,2020-06-01,2020-06-06,NAN,2,56,Confirmado,SI
15,HOMBRE,2,2020-04-04,2020-04-04,2020-04-13,2,61,Confirmado,SI
...,...,...,...,...,...,...,...,...,...
369328,HOMBRE,2,2020-05-15,2020-05-21,NAN,2,62,Sospechoso,SI
369339,MUJER,2,2020-06-05,2020-06-07,NAN,2,50,Sospechoso,SI
369352,MUJER,1,2020-05-17,2020-05-18,NAN,97,44,Sospechoso,SI
369353,HOMBRE,1,2020-05-21,2020-05-23,NAN,97,46,Sospechoso,SI
369358,HOMBRE,2,2020-04-19,2020-04-20,NAN,2,96,Sospechoso,SI

In [90]:
data["FECHA_SINTOMAS"] = pd.to_datetime(data.FECHA_SINTOMAS)
data["FECHA_INGRESO"] = pd.to_datetime(data.FECHA_INGRESO)
data["FECHA_DEF"] = pd.to_datetime(data.FECHA_DEF)

In [102]:
data.head(20)

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,HOMBRE,1,2020-05-25,2020-05-27,NaT,97,53,Confirmado,SI
7,MUJER,2,2020-04-03,2020-04-03,NaT,2,41,Confirmado,SI
11,MUJER,2,2020-04-15,2020-04-15,2020-05-06,2,62,Confirmado,SI
14,HOMBRE,2,2020-06-01,2020-06-06,NaT,2,56,Confirmado,SI
15,HOMBRE,2,2020-04-04,2020-04-04,2020-04-13,2,61,Confirmado,SI
16,HOMBRE,2,2020-04-08,2020-04-08,2020-04-09,2,72,Confirmado,SI
18,MUJER,1,2020-04-17,2020-04-26,NaT,97,48,Confirmado,SI
22,HOMBRE,2,2020-04-15,2020-04-28,2020-05-11,2,74,Confirmado,SI
38,MUJER,2,2020-03-20,2020-03-29,NaT,2,48,Confirmado,SI
41,HOMBRE,2,2020-04-16,2020-04-16,NaT,2,57,Confirmado,SI
42,HOMBRE,2,2020-04-29,2020-04-30,NaT,2,51,Confirmado,SI
53,MUJER,2,2020-04-13,2020-04-13,2020-04-22,2,60,Confirmado,SI
54,HOMBRE,2,2020-04-16,2020-04-16,2020-04-29,2,47,Confirmado,SI
55,HOMBRE,2,2020-04-16,2020-04-20,NaT,2,46,Confirmado,SI
58,MUJER,2,2020-04-27,2020-05-04,NaT,2,76,Confirmado,SI
59,HOMBRE,2,2020-04-09,2020-04-17,NaT,2,61,Confirmado,SI
72,HOMBRE,1,2020-04-23,2020-04-23,NaT,97,46,Confirmado,SI
85,HOMBRE,2,2020-04-21,2020-04-21,NaT,2,55,Confirmado,SI
95,MUJER,1,2020-05-01,2020-05-02,NaT,97,80,Confirmado,SI
99,HOMBRE,2,2020-04-17,2020-04-25,NaT,2,43,Confirmado,SI

In [94]:
data["INTUBADO"].unique()

array([97,  2,  1, 99])

In [107]:
data["INTUBADO"] = np.where(data["INTUBADO"] == "2", "SI", data["INTUBADO"])

2 -- Si intubado

In [109]:
data["INTUBADO"] = np.where(data["INTUBADO"] == "1", "NO", data["INTUBADO"])

In [111]:
data["INTUBADO"] = np.where(data["INTUBADO"] == "97", "NO", data["INTUBADO"])
data["INTUBADO"] = np.where(data["INTUBADO"] == "99", "NO", data["INTUBADO"])

In [112]:
data

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,HOMBRE,1,2020-05-25,2020-05-27,NaT,NO,53,Confirmado,SI
7,MUJER,2,2020-04-03,2020-04-03,NaT,SI,41,Confirmado,SI
11,MUJER,2,2020-04-15,2020-04-15,2020-05-06,SI,62,Confirmado,SI
14,HOMBRE,2,2020-06-01,2020-06-06,NaT,SI,56,Confirmado,SI
15,HOMBRE,2,2020-04-04,2020-04-04,2020-04-13,SI,61,Confirmado,SI
...,...,...,...,...,...,...,...,...,...
369328,HOMBRE,2,2020-05-15,2020-05-21,NaT,SI,62,Sospechoso,SI
369339,MUJER,2,2020-06-05,2020-06-07,NaT,SI,50,Sospechoso,SI
369352,MUJER,1,2020-05-17,2020-05-18,NaT,NO,44,Sospechoso,SI
369353,HOMBRE,1,2020-05-21,2020-05-23,NaT,NO,46,Sospechoso,SI
369358,HOMBRE,2,2020-04-19,2020-04-20,NaT,SI,96,Sospechoso,SI