In [5]:
#Importando librerias basicas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#Extrallendo dataset
data = pd.read_csv("../datasets/200610COVID19MEXICO.csv")

In [7]:
data.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [8]:
data[["DIABETES", "FECHA_DEF"]].head(10)

   DIABETES   FECHA_DEF
0         1  9999-99-99
1         2  9999-99-99
2         2  9999-99-99
3         2  9999-99-99
4         2  9999-99-99
5         2  9999-99-99
6         2  9999-99-99
7         1  9999-99-99
8         2  9999-99-99
9         2  9999-99-99

1 -> Si

2 -> No

In [9]:
data["DIABETES"] = np.where(data["DIABETES"] == 1, "SI", data["DIABETES"])

In [10]:
data["DIABETES"] = np.where(data["DIABETES"] == 2, "NO", data["DIABETES"])

In [11]:
data["DIABETES"] = np.where(data["DIABETES"] == "2", "NO", data["DIABETES"])

In [12]:
data = data[["SEXO","TIPO_PACIENTE","FECHA_SINTOMAS", "FECHA_INGRESO", "FECHA_DEF", "INTUBADO", "EDAD","RESULTADO", "DIABETES" ]]

In [13]:
data = data[data["DIABETES"]== "SI"]

In [14]:
data

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,2,1,2020-05-25,2020-05-27,9999-99-99,97,53,1,SI
7,1,2,2020-04-03,2020-04-03,9999-99-99,2,41,1,SI
11,1,2,2020-04-15,2020-04-15,2020-05-06,2,62,1,SI
14,2,2,2020-06-01,2020-06-06,9999-99-99,2,56,1,SI
15,2,2,2020-04-04,2020-04-04,2020-04-13,2,61,1,SI
...,...,...,...,...,...,...,...,...,...
369328,2,2,2020-05-15,2020-05-21,9999-99-99,2,62,3,SI
369339,1,2,2020-06-05,2020-06-07,9999-99-99,2,50,3,SI
369352,1,1,2020-05-17,2020-05-18,9999-99-99,97,44,3,SI
369353,2,1,2020-05-21,2020-05-23,9999-99-99,97,46,3,SI
369358,2,2,2020-04-19,2020-04-20,9999-99-99,2,96,3,SI

In [15]:
data["SEXO"] = np.where(data["SEXO"] == 1, "MUJER", data["SEXO"])
data["SEXO"] = np.where(data["SEXO"] == 2, "HOMBRE", data["SEXO"])

In [16]:
data["SEXO"] = np.where(data["SEXO"] == "1", "MUJER", data["SEXO"])
data["SEXO"] = np.where(data["SEXO"] == "2", "HOMBRE", data["SEXO"])

In [17]:
data

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,HOMBRE,1,2020-05-25,2020-05-27,9999-99-99,97,53,1,SI
7,MUJER,2,2020-04-03,2020-04-03,9999-99-99,2,41,1,SI
11,MUJER,2,2020-04-15,2020-04-15,2020-05-06,2,62,1,SI
14,HOMBRE,2,2020-06-01,2020-06-06,9999-99-99,2,56,1,SI
15,HOMBRE,2,2020-04-04,2020-04-04,2020-04-13,2,61,1,SI
...,...,...,...,...,...,...,...,...,...
369328,HOMBRE,2,2020-05-15,2020-05-21,9999-99-99,2,62,3,SI
369339,MUJER,2,2020-06-05,2020-06-07,9999-99-99,2,50,3,SI
369352,MUJER,1,2020-05-17,2020-05-18,9999-99-99,97,44,3,SI
369353,HOMBRE,1,2020-05-21,2020-05-23,9999-99-99,97,46,3,SI
369358,HOMBRE,2,2020-04-19,2020-04-20,9999-99-99,2,96,3,SI

In [18]:
data["FECHA_DEF"].value_counts()

9999-99-99    38522
2020-05-25      206
2020-05-30      191
2020-05-18      191
2020-05-27      182
              ...
2020-03-21        1
2020-03-18        1
2020-03-23        1
2020-03-17        1
2020-03-06        1
Name: FECHA_DEF, Length: 93, dtype: int64

In [19]:
data["FECHA_DEF"].min()

'2020-02-20'

In [20]:
data["FECHA_DEF"].max()

'9999-99-99'

In [21]:
data["FECHA_DEF"] = np.where(data["FECHA_DEF"] == "9999-99-99", "NAN", data["FECHA_DEF"])

In [22]:
data

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,HOMBRE,1,2020-05-25,2020-05-27,NAN,97,53,1,SI
7,MUJER,2,2020-04-03,2020-04-03,NAN,2,41,1,SI
11,MUJER,2,2020-04-15,2020-04-15,2020-05-06,2,62,1,SI
14,HOMBRE,2,2020-06-01,2020-06-06,NAN,2,56,1,SI
15,HOMBRE,2,2020-04-04,2020-04-04,2020-04-13,2,61,1,SI
...,...,...,...,...,...,...,...,...,...
369328,HOMBRE,2,2020-05-15,2020-05-21,NAN,2,62,3,SI
369339,MUJER,2,2020-06-05,2020-06-07,NAN,2,50,3,SI
369352,MUJER,1,2020-05-17,2020-05-18,NAN,97,44,3,SI
369353,HOMBRE,1,2020-05-21,2020-05-23,NAN,97,46,3,SI
369358,HOMBRE,2,2020-04-19,2020-04-20,NAN,2,96,3,SI

In [23]:
data["RESULTADO"] = np.where(data["RESULTADO"] == "2", "Descartado", data["RESULTADO"])
data["RESULTADO"] = np.where(data["RESULTADO"] == "3", "Sospechoso", data["RESULTADO"])

/home/carlos/anaconda3/envs/ambienteIA_1/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [24]:
data["RESULTADO"] = np.where(data["RESULTADO"] == 1, "Confirmado", data["RESULTADO"])
data["RESULTADO"] = np.where(data["RESULTADO"] == "1", "Confirmado", data["RESULTADO"])

In [25]:
data["RESULTADO"].unique()

array(['Confirmado', '2', 'Sospechoso'], dtype=object)

In [26]:
data["FECHA_DEF"].min()

'2020-02-20'

In [27]:
data

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,HOMBRE,1,2020-05-25,2020-05-27,NAN,97,53,Confirmado,SI
7,MUJER,2,2020-04-03,2020-04-03,NAN,2,41,Confirmado,SI
11,MUJER,2,2020-04-15,2020-04-15,2020-05-06,2,62,Confirmado,SI
14,HOMBRE,2,2020-06-01,2020-06-06,NAN,2,56,Confirmado,SI
15,HOMBRE,2,2020-04-04,2020-04-04,2020-04-13,2,61,Confirmado,SI
...,...,...,...,...,...,...,...,...,...
369328,HOMBRE,2,2020-05-15,2020-05-21,NAN,2,62,Sospechoso,SI
369339,MUJER,2,2020-06-05,2020-06-07,NAN,2,50,Sospechoso,SI
369352,MUJER,1,2020-05-17,2020-05-18,NAN,97,44,Sospechoso,SI
369353,HOMBRE,1,2020-05-21,2020-05-23,NAN,97,46,Sospechoso,SI
369358,HOMBRE,2,2020-04-19,2020-04-20,NAN,2,96,Sospechoso,SI

In [28]:
data["FECHA_SINTOMAS"] = pd.to_datetime(data.FECHA_SINTOMAS)
data["FECHA_INGRESO"] = pd.to_datetime(data.FECHA_INGRESO)
data["FECHA_DEF"] = pd.to_datetime(data.FECHA_DEF)

In [29]:
data.head()

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,HOMBRE,1,2020-05-25,2020-05-27,NaT,97,53,Confirmado,SI
7,MUJER,2,2020-04-03,2020-04-03,NaT,2,41,Confirmado,SI
11,MUJER,2,2020-04-15,2020-04-15,2020-05-06,2,62,Confirmado,SI
14,HOMBRE,2,2020-06-01,2020-06-06,NaT,2,56,Confirmado,SI
15,HOMBRE,2,2020-04-04,2020-04-04,2020-04-13,2,61,Confirmado,SI

In [30]:
data["INTUBADO"].unique()

array([97,  2,  1, 99])

In [31]:
data["INTUBADO"] = np.where(data["INTUBADO"] == "2", "SI", data["INTUBADO"])

/home/carlos/anaconda3/envs/ambienteIA_1/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

2 -- Si intubado

In [32]:
data["INTUBADO"] = np.where(data["INTUBADO"] == "1", "NO", data["INTUBADO"])

In [33]:
data["INTUBADO"] = np.where(data["INTUBADO"] == "97", "NO", data["INTUBADO"])
data["INTUBADO"] = np.where(data["INTUBADO"] == "99", "NO", data["INTUBADO"])

In [34]:
data

,SEXO,TIPO_PACIENTE,FECHA_SINTOMAS,FECHA_INGRESO,FECHA_DEF,INTUBADO,EDAD,RESULTADO,DIABETES
0,HOMBRE,1,2020-05-25,2020-05-27,NaT,NO,53,Confirmado,SI
7,MUJER,2,2020-04-03,2020-04-03,NaT,2,41,Confirmado,SI
11,MUJER,2,2020-04-15,2020-04-15,2020-05-06,2,62,Confirmado,SI
14,HOMBRE,2,2020-06-01,2020-06-06,NaT,2,56,Confirmado,SI
15,HOMBRE,2,2020-04-04,2020-04-04,2020-04-13,2,61,Confirmado,SI
...,...,...,...,...,...,...,...,...,...
369328,HOMBRE,2,2020-05-15,2020-05-21,NaT,2,62,Sospechoso,SI
369339,MUJER,2,2020-06-05,2020-06-07,NaT,2,50,Sospechoso,SI
369352,MUJER,1,2020-05-17,2020-05-18,NaT,NO,44,Sospechoso,SI
369353,HOMBRE,1,2020-05-21,2020-05-23,NaT,NO,46,Sospechoso,SI
369358,HOMBRE,2,2020-04-19,2020-04-20,NaT,2,96,Sospechoso,SI

## Trabajando con Fecha de Sintomas

In [35]:
data["FECHA_SINTOMAS"].value_counts(bins=20)

(2020-05-24 21:36:00, 2020-06-01 22:48:00]              7894
(2020-05-16 20:24:00, 2020-05-24 21:36:00]              7306
(2020-05-08 19:12:00, 2020-05-16 20:24:00]              6687
(2020-04-30 18:00:00, 2020-05-08 19:12:00]              5756
(2020-04-22 16:48:00, 2020-04-30 18:00:00]              4408
(2020-06-01 22:48:00, 2020-06-10]                       4229
(2020-04-14 15:36:00, 2020-04-22 16:48:00]              3776
(2020-04-06 14:24:00, 2020-04-14 15:36:00]              2672
(2020-03-29 13:12:00, 2020-04-06 14:24:00]              1865
(2020-03-21 12:00:00, 2020-03-29 13:12:00]              1143
(2020-03-13 10:48:00, 2020-03-21 12:00:00]               431
(2020-03-05 09:36:00, 2020-03-13 10:48:00]               105
(2020-02-26 08:24:00, 2020-03-05 09:36:00]                46
(2020-01-17 02:24:00, 2020-01-25 03:36:00]                40
(2020-01-09 01:12:00, 2020-01-17 02:24:00]                39
(2020-02-02 04:48:00, 2020-02-10 06:00:00]                37
(2019-12-31 20:08:09.599999999, 2020-01-09 01:12:00]      29
(2020-01-25 03:36:00, 2020-02-02 04:48:00]                24
(2020-02-10 06:00:00, 2020-02-18 07:12:00]                22
(2020-02-18 07:12:00, 2020-02-26 08:24:00]                18
Name: FECHA_SINTOMAS, dtype: int64

In [36]:
f_sintomas = data["FECHA_SINTOMAS"].value_counts()

In [37]:
d_sintomas = pd.DataFrame(f_sintomas)

In [38]:
d_sintomas = d_sintomas.reset_index()

In [39]:
d_sintomas.columns = ['Fecha', 'Cantidad']

In [40]:
d_sintomas

         Fecha  Cantidad
0   2020-06-01      1282
1   2020-05-25      1254
2   2020-05-20      1192
3   2020-05-15      1027
4   2020-05-18      1021
..         ...       ...
155 2020-02-20         1
156 2020-02-22         1
157 2020-01-27         1
158 2020-02-01         1
159 2020-02-18         1

[160 rows x 2 columns]