In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../datasets/cvid.csv')

In [6]:
df.head()

,cve_ent,poblacion,nombre,12-01-2020,13-01-2020,14-01-2020,15-01-2020,16-01-2020,17-01-2020,18-01-2020,...,26-10-2020,27-10-2020,28-10-2020,29-10-2020,30-10-2020,31-10-2020,01-11-2020,02-11-2020,03-11-2020,04-11-2020
0,1,1434635,AGUASCALIENTES,0,0,0,0,0,0,0,...,139,136,93,59,70,37,21,30,0,2
1,2,3634868,BAJA CALIFORNIA,0,0,0,0,0,0,0,...,153,96,58,45,36,25,9,31,34,16
2,3,804708,BAJA CALIFORNIA SUR,0,0,0,0,0,0,0,...,111,91,70,60,57,32,20,53,34,0
3,4,1000617,CAMPECHE,0,0,0,0,0,0,0,...,28,13,18,6,15,1,0,3,1,1
4,7,5730367,CHIAPAS,0,0,0,0,0,0,0,...,8,9,5,7,2,1,1,3,3,0

In [7]:
df.T.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
cve_ent,1,2,3,4,7,8,9,5,6,10,...,24,25,26,27,28,29,30,31,32,0
poblacion,1434635,3634868,804708,1000617,5730367,3801487,9018645,3218720,785153,1868996,...,2866142,3156674,3074745,2572287,3650602,1380011,8539862,2259098,1666426,127792286
nombre,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,DURANGO,...,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS,Nacional
12-01-2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13-01-2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1