In [1]:
#Importando librerias basicas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import scipy
import scipy.stats
warnings.simplefilter("ignore", UserWarning)

In [2]:
#Extrallendo dataset
data = pd.read_csv("../datasets/200610COVID19MEXICO.csv")

In [3]:
data.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [4]:
data.head(3)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-06-10,0f69b4,2,3,15,2,7,15,106,1,...,2,2,2,2,1,1,99,México,99,97
1,2020-06-10,1c79cc,2,3,15,2,15,15,106,2,...,2,2,2,2,2,1,99,México,99,2
2,2020-06-10,140aab,2,4,9,2,9,9,7,1,...,2,2,2,2,99,1,99,México,99,97

# Select data

In [7]:
cols = ['SEXO', 'INTUBADO', 'NEUMONIA', 'EDAD', 'EMBARAZO', 'DIABETES', 'EPOC', 'ASMA',
       'INMUSUPR', 'HIPERTENSION', 'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA',
       'TABAQUISMO', 'RESULTADO', 'FECHA_DEF']

In [8]:
#slect data where data have columns in cols

df = data[cols]

In [9]:
df.head()

,SEXO,INTUBADO,NEUMONIA,EDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO,FECHA_DEF
0,2,97,2,53,97,1,2,2,2,2,2,2,2,2,1,9999-99-99
1,2,2,1,59,97,2,2,2,2,2,2,2,2,2,1,9999-99-99
2,2,97,2,34,97,2,2,2,2,2,2,2,2,2,1,9999-99-99
3,2,97,2,45,97,2,2,2,2,2,2,2,2,2,1,9999-99-99
4,2,2,1,53,97,2,2,2,2,1,2,2,2,2,1,9999-99-99

In [10]:
df.SEXO.unique()

array([2, 1])

In [11]:
df.EMBARAZO.unique()

array([97,  2,  1, 98])

In [15]:
df[['EMBARAZO', 'SEXO']][50:80]
# 2 - Hombre
# 1 - Mujer

# 1 - Si
# 2 - No

    EMBARAZO  SEXO
50        97     2
51        97     2
52         2     1
53         2     1
54        97     2
55        97     2
56        97     2
57        97     2
58         2     1
59        97     2
60        97     2
61        97     2
62         2     1
63        97     2
64         2     1
65        97     2
66        97     2
67         2     1
68        97     2
69         1     1
70         2     1
71        97     2
72        97     2
73        97     2
74         2     1
75         2     1
76        97     2
77         2     1
78        97     2
79        97     2

In [ ]:
df["EMBARAZO"] = np.where(df["EMBARAZO"] == "97", 0, dff["EMBARAZO"])
df["EMBARAZO"] = np.where(df["EMBARAZO"] == "2", 0, dff["EMBARAZO"])
df["EMBARAZO"] = np.where(df["EMBARAZO"] == "1", 1, dff["EMBARAZO"])
df["EMBARAZO"] = np.where(df["EMBARAZO"] == "98", 0, dff["EMBARAZO"])

In [21]:
def changeVar( col, varN, varC, df=df):
    df[col] = np.where(df[col] == varN, varC, df[col])
    return df

In [22]:
df['Embarazo'] = changeVar( 'EMBARAZO', '97', 0)

<ipython-input-21-a8d45da2a5e6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = np.where(df[col] == varN, varC, df[col])

ValueError: Wrong number of items passed 16, placement implies 1