# Importando las librerias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# ETL

## Extracción de los datos


- Los dastos estan extraido de los datos abiertos de Covid-19 en México

In [4]:
data = pd.read_csv('../../datasets/datos_abiertos_covid19/200610COVID19MEXICO.csv')

In [5]:
data.head(5)

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-06-10,0f69b4,2,3,15,2,7,15,106,1,...,2,2,2,2,1,1,99,México,99,97
1,2020-06-10,1c79cc,2,3,15,2,15,15,106,2,...,2,2,2,2,2,1,99,México,99,2
2,2020-06-10,140aab,2,4,9,2,9,9,7,1,...,2,2,2,2,99,1,99,México,99,97
3,2020-06-10,051c09,2,4,2,2,2,2,4,1,...,2,2,2,2,99,1,99,México,99,97
4,2020-06-10,1c8c37,2,4,9,2,15,15,58,2,...,2,2,2,2,99,1,99,México,99,2

# Transformación de los datos

In [4]:
data.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369362 entries, 0 to 369361
Data columns (total 35 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FECHA_ACTUALIZACION  369362 non-null  object
 1   ID_REGISTRO          369361 non-null  object
 2   ORIGEN               369362 non-null  int64
 3   SECTOR               369362 non-null  int64
 4   ENTIDAD_UM           369362 non-null  int64
 5   SEXO                 369362 non-null  int64
 6   ENTIDAD_NAC          369362 non-null  int64
 7   ENTIDAD_RES          369362 non-null  int64
 8   MUNICIPIO_RES        369362 non-null  int64
 9   TIPO_PACIENTE        369362 non-null  int64
 10  FECHA_INGRESO        369362 non-null  object
 11  FECHA_SINTOMAS       369362 non-null  object
 12  FECHA_DEF            369362 non-null  object
 13  INTUBADO             369362 non-null  int64
 14  NEUMONIA             369362 non-null  int64
 15  EDAD                 369362 non-null  int64
 16  NACIONALIDAD         369362 non-null  int64
 17  EMBARAZO             369362 non-null  int64
 18  HABLA_LENGUA_INDIG   369362 non-null  int64
 19  DIABETES             369362 non-null  int64
 20  EPOC                 369362 non-null  int64
 21  ASMA                 369362 non-null  int64
 22  INMUSUPR             369362 non-null  int64
 23  HIPERTENSION         369362 non-null  int64
 24  OTRA_COM             369362 non-null  int64
 25  CARDIOVASCULAR       369362 non-null  int64
 26  OBESIDAD             369362 non-null  int64
 27  RENAL_CRONICA        369362 non-null  int64
 28  TABAQUISMO           369362 non-null  int64
 29  OTRO_CASO            369362 non-null  int64
 30  RESULTADO            369362 non-null  int64
 31  MIGRANTE             369362 non-null  int64
 32  PAIS_NACIONALIDAD    369362 non-null  object
 33  PAIS_ORIGEN          369362 non-null  object
 34  UCI                  369362 non-null  int64
dtypes: int64(28), object(7)
memory usage: 98.6+ MB

In [7]:
data.FECHA_INGRESO = pd.to_datetime(data.FECHA_INGRESO)
data.FECHA_SINTOMAS = pd.to_datetime(data.FECHA_SINTOMAS)

In [10]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369362 entries, 0 to 369361
Data columns (total 35 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FECHA_ACTUALIZACION  369362 non-null  object
 1   ID_REGISTRO          369361 non-null  object
 2   ORIGEN               369362 non-null  int64
 3   SECTOR               369362 non-null  int64
 4   ENTIDAD_UM           369362 non-null  int64
 5   SEXO                 369362 non-null  int64
 6   ENTIDAD_NAC          369362 non-null  int64
 7   ENTIDAD_RES          369362 non-null  int64
 8   MUNICIPIO_RES        369362 non-null  int64
 9   TIPO_PACIENTE        369362 non-null  int64
 10  FECHA_INGRESO        369362 non-null  datetime64[ns]
 11  FECHA_SINTOMAS       369362 non-null  datetime64[ns]
 12  FECHA_DEF            369362 non-null  object
 13  INTUBADO             369362 non-null  int64
 14  NEUMONIA             369362 non-null  int64
 15  EDAD                 369362 non-null  int64
 16  NACIONALIDAD         369362 non-null  int64
 17  EMBARAZO             369362 non-null  int64
 18  HABLA_LENGUA_INDIG   369362 non-null  int64
 19  DIABETES             369362 non-null  int64
 20  EPOC                 369362 non-null  int64
 21  ASMA                 369362 non-null  int64
 22  INMUSUPR             369362 non-null  int64
 23  HIPERTENSION         369362 non-null  int64
 24  OTRA_COM             369362 non-null  int64
 25  CARDIOVASCULAR       369362 non-null  int64
 26  OBESIDAD             369362 non-null  int64
 27  RENAL_CRONICA        369362 non-null  int64
 28  TABAQUISMO           369362 non-null  int64
 29  OTRO_CASO            369362 non-null  int64
 30  RESULTADO            369362 non-null  int64
 31  MIGRANTE             369362 non-null  int64
 32  PAIS_NACIONALIDAD    369362 non-null  object
 33  PAIS_ORIGEN          369362 non-null  object
 34  UCI                  369362 non-null  int64
dtypes: datetime64[ns](2), int64(28), object(5)
memory usage: 98.6+ MB

## Variables

- Transformación de algunas variables

In [14]:
# Numero de semana
data['Num_Semana_Ingreso'] = data.FECHA_INGRESO.dt.week

# Mes
data['M']

AttributeError: 'Series' object has no attribute 'day'